{% extends 'app' %} {% block content %}

<form action="/product" method="post">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Product Form</h3>
        </div>

        <div class="panel-body">

            {% if messages.error %}

            <div class="alert alert-danger col-sm-6">
                <ul>
                    {% for error in messages.error %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="clearfix"></div>

            {% endif %}

            <!-- form -->
            <div class="col-sm-6">
                <label>Product</label>
                <input type="text" class="form-control" name="product[name]" value="{{ product.name }}">
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-6">
                <label>Price</label>
                <input type="text" class="form-control" name="product[price]" value="{{ product.price }}">
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-6">
                <label>Category</label>
                <select class="form-control" name="product[category_id]">
                    <option value="0">-- select --</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {{ 'selected' if (category.id == product.category_id) }}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <!-- insert button -->
    {% if not product.id %}
    <button class="btn btn-xs btn-success">
        <i class="fa fa-save"></i> Insert
    </button>
    {% endif %}

    {% if product.id %}
    
    <!-- save button -->
    <button class="btn btn-xs btn-success" onclick="this.form.action = location.pathname + '?_method=put'">
        <i class="fa fa-save"></i> Update
    </button>
    
    <!-- delete button -->
    <button class="btn btn-xs btn-danger" onclick="if (!confirm('Delete product?')) {return false}; this.form.action = location.pathname + '?_method=delete'">
        <i class="fa fa-trash"></i> Delete
    </button>
    {% endif %}

    <!-- listing button -->
    <a class="btn btn-xs btn-default" href="/product">
        <i class="fa fa-list-alt"></i> Listing
    </a>

    {{ csrfField }}
</form>
{% endblock %}